# Python
**/__pycache__/
**/*.py[cod]
**/*.venv/
**/venv/

# Sensitive Data
**/.env

# Database/Storage
**/*.csv
**/*.log
**/*.sqlite

# External Tools
.aider*
.continue/
.cursor/

# OS
.DS_Store
Thumbs.db
