# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/

# Sensitive Data
.env

# Database/Storage
*.csv
!scripts/data/*.csv  # Allow if you have static seed data
*.log
*.sqlite

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
